---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About the project">
    <article class="flex flex-col items-center gap-y-4 m-10 px-10>">
        <h1 class="text-4xl text-white font-bold">About the project</h1>
        <p class="text-2xl text-white font-bold">The SpaceX launches project is an Astro demo made with TailWind and Typescrypt, the Website consumes the SpaceX API and shows the 30 latest launches with some additional information.
    </article>
</Layout>